<% provide(:title , 'About') %>
<h1>About page</h1>
<p>This site is made by Jacob Ankarberg, <a href='mailto:hillclimbracer@ankarberg.net'>mail me</a> to ger more info. The site is created using Ruby on Rails and is mostly done to teach me how to build sites with Ruby on Rails.</p>
